h1{
    font-family: Arial, Helvetica, sans-serif,bold;
}
.doan1{
    font-family: Arial;
    font-size: 22px;
    color:rgb(11, 2, 20);
}
#tomtat{
    color:rgb(12, 4, 4);
    font-style:Arial;
}
.doan2{
    font-family: calibri;
    font-size: 15px;
    color:rgb(90, 89, 89);
}
