h1{
    font-family: Arial, Helvetica, sans-serif;
}
.doan1{
    font-family: times New roman;
    font-size: 12px;
    color:blueviolet;
}
#tomtat{
    color:rgb(148, 165, 38);
    font-style:initial;
}
.doan2{
    font-family: calibri;
    font-size: 16px;
    color:red;
}