.block img{
   
    border:3px solid rgb(94, 8, 114);
    background-color: rgb(248, 248, 248);
    width:20%;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container h1 {
    margin-left: 50px;
    margin-top: 50px;
} 
.container_inner{
    display: flex;
    justify-content: space-evenly;
}

h2{
    margin:0px;
    font-size: 30px;
    font-weight:bold;
    color:rgb(233, 12, 12);
}
p{
    margin:0px;
    font-size:20px ;
}
h3{
    margin:0px;
    font-size:30px ;
    font-weight:bold;
    color:rgb(236, 14, 14);
}
ul{
    list-style-image:url('ico_arrow.gif');
}